.logo {
    width: 30px;
    float: left;
    margin-left: 4%;
}

.button-primary {
    background-color: cornflowerblue;
    color: white;
    font-weight: 700;
    margin-right: 3%;
}

.button-success {
    background-color: rgb(37, 148, 37);
    color: white;
    font-weight: 700;
}

.button-danger {
    background-color: rgb(148, 37, 37);
    color: white;
    font-weight: 700;
}

.button-eliminar {
    border: none;
    background-color: white;
    cursor: pointer;
    border-radius: 40px;
    float: right;
}

.button-eliminar:active {
    background-color: rgb(239, 75, 75);
    transform: translateY(2px);
}

.icon-eliminar {
    width: 30px;
}

.button {
    height: 30px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    width: 150px;
    font-size: 15px;
}

.input-form {
    height: 30px;
    border-radius: 7px;
    border: 1px solid grey;
    width: 200px;
    font-size: 20px;
    text-align: center;
}

.button-primary:hover {
    background-color: rgb(136, 177, 255);
}

.button-primary:active {
    background-color: cornflowerblue;
    transform: translateY(2px);
}

.button-success:hover {
    background-color: limegreen;
}

.button-success:active {
    background-color: rgb(37, 148, 37);
    transform: translateY(2px);
}

.button-danger:hover {
    background-color: rgb(205, 50, 50);
}

.button-danger:active {
    background-color: rgb(148, 37, 37);
    transform: translateY(2px);
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(232, 232, 232);
}

.l-container {
    background-color: rgb(232, 232, 232);
    height: 40px;
    width: 100%;
    margin-top: 2%;
}

.titulo-app {
    font-weight: 700;
    float: left;
    padding-left: 15px;
    font-size: 20px;
    color: rgb(7, 88, 187);
}

#nuevaTarea {
    float: right;
}

.section-tap {
    height: 500px;
    width: 30%;
    background-color: white;
    border: 1px solid rgb(47, 47, 47);
    border-radius: 15px;
    margin-top: 2.5%;
    margin-left: 2.3%;
    display: inline-table;
}

.line-title {
    width: 70%;
    margin-top: -15px;
    margin-bottom: 30px;
}

.section-status-title {
    text-align: center;
    color: rgb(7, 88, 187);
}

.titulo-modal {
    text-align: center;
    color: rgb(7, 88, 187);
}

.modalTarea {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
    border-radius: 15px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.tareaNueva {
    border: 1px solid #888;
    width: 90%;
    border-radius: 10px;
    height: auto;
    display: flex;
    margin: auto;
}

.tabla-tareas {
    display: flex;
    margin: auto;
    width: 82%;
}